# SOLO PARA LOCAL, PARA PROD USAMOS AWS

# AWS
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=000000000000

# DynamoDB
DYNAMODB_TABLE=rimac-appointment-appointments-dev

# SNS
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:rimac-appointment-topic-dev

# SQS
SQS_PE_URL=http://localhost:4566/000000000000/rimac-appointment-sqs-pe-dev
SQS_CL_URL=http://localhost:4566/000000000000/rimac-appointment-sqs-cl-dev
SQS_CONFIRMATION_URL=http://localhost:4566/000000000000/rimac-appointment-sqs-confirmation-dev

# MySQL RDS - Perú
DB_PE_HOST=localhost
DB_PE_PORT=3307
DB_PE_USER=admin
DB_PE_PASSWORD=password
DB_PE_NAME=appointments_pe

# MySQL RDS - Chile
DB_CL_HOST=localhost
DB_CL_PORT=3308
DB_CL_USER=admin
DB_CL_PASSWORD=password
DB_CL_NAME=appointments_cl